<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatInputView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7A715731833ACE70054FF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A715941833ACE80054FF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A715CC1833E4610054FF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A715D01833E49F0054FF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
